/*********************************
6. Contact Us
*********************************/

.contact_contents
{
	padding-right: 30px;
}
.contact_contents h1,
.follow_us_contents h1,
.get_in_touch_contents h1
{
	font-size: 40px;
	font-weight: 500;
}
.contact_contents p,
.get_in_touch_contents p
{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0px;
}
.contact_contents div
{
	margin-top: 22px;
}
.contact_contents div:first-of-type
{
	margin-top: 39px;
}

/*********************************
7. Follow Us
*********************************/

.follow_us_contents
{
	margin-top: 32px;
}
.social
{
	margin-top: 20px;
}
.social li
{
	margin-right: 12px;
}
.social li:last-child
{
	margin-right: 0px;
}
.social li a
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.social li a i
{
	color: #FFFFFF;
}
.social li:hover a
{
	transform: translateY(-5px);
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
